@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

    <style type="text/css">
        a {
            background-color: #f6897a;
            color: #000000;
            font-family: Verdana;
            padding: 2px;
            font-weight: bold;
        }

        h1 {
            color: #fff;
        }

        h4 {
            color: #8ba6fe;
        }

        th {
            color: #283cd4;
            font-weight: bolder;
            font-size: 25px;
        }

        td {
            color: #000000;
            font-size: 18px;
        }

        .row {
            color: #fff;
            font-size: 20px;
        }

        li {
            color: #fff;
            font-size: 20px;
        }

        .text-center {
            color: #fff;
        }

        .usreg {
            color: #fff;
            font-size: 20px;
        }
    </style>

    <ul class="navbar-nav">
        @if (SignInManager.IsSignedIn(User))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
            </li>
            <li class="nav-item">
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                    <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                </form>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
            </li>
        }
    </ul>
