@page
@model BibliotecaPublica.Pages.Admin.Libros.IndexModel

@{ ViewData["Title"] = "Home page"; }

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Grupo #1</p>
</div>



<div class="container"> 

    <div class="row">
        @foreach(var item in Model.LibroModel) {
        <div class="col-lg-4">

            <div class="card">
                <img class="card-img-top" src="~/img/immm.svg" alt="card image">
                <div class="card-header">
                    Titulo del Libro
                </div>
                <div class="card-body">
                    <h5 class="card-title">@item model.libroModel.Titulo</h5>
                    <p class="card-text"> Lorem descripcion</p>
                </div>
            </div>
        </div>
        }</div> 
</div>


