@page
@model BibliotecaPublica.Pages.Admin.Autores.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<style type="text/css">
    a {
        background-color: #f6897a;
        color: #000000;
        font-family: Verdana;
        padding: 10px;
        font-weight: bold;
    }

    h1 {
        color: #fff;
    }

    h4 {
        color: #8ba6fe;
    }

    th {
        color: #283cd4;
        font-weight: bolder;
        font-size: 25px;
    }

    td {
        color: #000000;
        font-size: 18px;
    }

    .table {
        background-color: #f2f2f2;
    }

    .row {
        color: #fff;
        font-size: 20px;
    }
</style>

<h4>AutorModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AutorModel.Nombre" class="control-label"></label>
                <input asp-for="AutorModel.Nombre" class="form-control" />
                <span asp-validation-for="AutorModel.Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
