@page
@model BibliotecaPublica.Pages.Admin.Almacen.Inventario.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<style type="text/css">
    a {
        background-color: #f6897a;
        color: #000000;
        font-family: Verdana;
        padding: 10px;
        font-weight: bold;
    }

    h1 {
        color: #fff;
    }

    h4 {
        color: #8ba6fe;
    }

    th {
        color: #283cd4;
        font-weight: bolder;
        font-size: 25px;
    }

    td {
        color: #000000;
        font-size: 18px;
    }

    .table {
        background-color: #f2f2f2;
    }

    .row {
        color: #fff;
        font-size: 20px;
    }
</style>

<h4>InventarioModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="InventarioModel.LibroId" class="control-label"></label>
                <select asp-for="InventarioModel.LibroId" class ="form-control miselect" asp-items="ViewBag.LibroId"></select>
            </div>
            <div class="form-group">
                <label asp-for="InventarioModel.Archivo" class="control-label"></label>
                <input asp-for="IfArchivo" class="form-control" />
                <span asp-validation-for="IfArchivo" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="InventarioModel.EstaDisponible" /> @Html.DisplayNameFor(model => model.InventarioModel.EstaDisponible)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {

    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
